[submodule "model-sl-cloud"]
	path = model-sl-cloud
	url = https://github.com/AIerLab/model-sl-cloud.git
[submodule "model-sl-local"]
	path = model-sl-local
	url = https://github.com/AIerLab/model-sl-local.git
